!!!
%html
  %head
    %title Deflektorjs
    %script(src="/javascripts/jquery-1.4.2.min.js")
    %script(src="/javascripts/game.js")
    %link(rel="stylesheet" href="/screen.css")
  %body
    #playfield